@import '~antd/dist/antd.less';


.trigger {
  font-size: 26px;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.3s;
  height: 48px;
  margin: 6px 16px;
  padding: 6px 10px;
  background: #a0d911;
  border: 0px;
}

.trigger:hover {
  color: #6fab3e;
}

.logo {
  /* height: 128px; */
  height: 128px;
  background: rgba(255, 255, 255);
  background-image: url("img/site-logo.png");
  /* background-size: 100px 65px; */
  background-size: 125px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.ant-layout-sider-collapsed .logo{
        background-image: url("logo.svg");
        height: 64px;
        background-size: auto;
    }
    
.sidemenu {
  border-right: 0px solid;
  background: rgba(236, 9, 9, 0.2);
}

.site-layout .site-header {
  padding: 0;
  background: linear-gradient(to right, #d9f7be, #7cb305);
}
.site-layout .content {
  background: #fff;
}

.sider-menu {
  border-right: 0px;
}

.head-content {
  // height: 40px;
  // line-height: 40px;
  margin-bottom: 30px;
  background: #ffffff;
  // font-size: larger;
  text-align: center;
}

/* Table border color*/
.ant-table.ant-table-bordered thead > tr > th,
.ant-table.ant-table-bordered tbody > tr > td,
.ant-table.ant-table-bordered tfoot > tr > th,
.ant-table.ant-table-bordered tfoot > tr > td {
  border-right: 1px solid #D3D3D3;
}
.ant-table.ant-table-bordered .ant-table-cell-fix-right-first::after {
  border-right: 1px solid #D3D3D3;
}
.ant-table.ant-table-bordered table thead > tr:not(:last-child) > th {
  border-bottom: 1px solid #D3D3D3;
}
.ant-table.ant-table-bordered .ant-table-container {
  border: 1px solid #D3D3D3;
  border-right: 0;
  border-bottom: 0;
}
.ant-table-thead > tr > th {
  border-bottom: 1px solid #D3D3D3;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #D3D3D3;
}