@import '~antd/dist/antd.less';


.trigger {
  font-size: 26px;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.3s;
  height: 48px;
  margin: 6px 16px;
  padding: 6px 10px;
  background: #a0d911;
  border: 0px;
}

.trigger:hover {
  color: #6fab3e;
}

.logo {
  /* height: 128px; */
  height: 128px;
  background: rgba(255, 255, 255);
  background-image: url("img/site-logo.png");
  /* background-size: 100px 65px; */
  background-size: 125px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.ant-layout-sider-collapsed .logo{
        background-image: url("logo.svg");
        height: 64px;
        background-size: auto;
    }
    
.sidemenu {
  border-right: 0px solid;
  background: rgba(236, 9, 9, 0.2);
}

.site-layout .site-header {
  padding: 0;
  background: linear-gradient(to right, #d9f7be, #7cb305);
}
.site-layout .content {
  background: #fff;
}

.sider-menu {
  border-right: 0px;
}

.head-content {
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  background: #f8f8f8;
  font-size: larger;
  text-align: center;
}